table{
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 0.4%;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover{
    background-color: rgb(198, 232, 198);
}